<h3 ng-controller="atTheCourseSearchController">
    搜索结果：{{searchResult ? searchResult : '全部'}}
    <div class="input-group" style="float:right;">
        <input type="text" placeholder="按分校名称搜索" class="input-sm form-control" ng-model="sBLValue" style="width:120px;border-radius:0;display:inline;margin-right:15px;"/>
        <input type="text" placeholder="按课程名称搜索" class="input-sm form-control" ng-model="sRLValue" style="width:120px;border-radius:0;display:inline;margin-right:15px;"/>
        <button type="button" class="btn btn-sm btn-default" ng-click="searchAtTheCourse()">搜索</button>
    </div>
</h3>
<div class="clearfix" ng-controller="atTheCourseController">
    <div class="ball-spin-fade-loader list-loading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <h4 class="page-header courseTitle">
        <span class="class-name">{{sname == 'undefined' || sname == undefined ? '课程数量' : sname}}</span>（{{showTotalItems}}）
        <!--<div class="label label-default packageRadio" ng-click="selectpRadio(0, '')" style="padding:6px;margin-left:10px;cursor:pointer;font-size:80%;">上架时间</div>
        <div class="label label-default packageRadio" ng-click="selectpRadio(1, 'sales')" style="padding:6px;margin-left:10px;cursor:pointer;font-size:80%;">销量</div>-->
    </h4>
    <div class="row">
        <div class="col-xs-4 col-md-2 courseList ZHCourseList">
            <a href="javascript:void(0)" class="dashed">
                <p style="color:#555">分校课程</p>
                <p>以下展示的是所有分<br>校的课程</p>
                <p class="ZHimg"></p>
            </a>
        </div>
        <div class="col-xs-4 col-md-2 courseList" ng-repeat="c in course" ng-mouseleave="closeCourseAct($index)">
            <p class="courseAction" style="visibility: visible;text-align:center;">
                <small ng-bind="c.branch_name" style="color:#aaa;"></small>
            </p>
            <a ui-sref="app.atTheCourseDetails" ng-click="showCDetails(c.course_name,c.courseid,c.sname,c.branch_name)" ng-mouseover="showCourseAct($index)">
                <img ng-src="{{c.course_img}}" alt="Image">
                <div class="courseDesc">
                    <p ng-bind="c.course_name"></p>
                    <small ng-bind="c.summary" title={{c.summary}}></small>
                </div>
            </a>
        </div>
    </div>
    <pagination class="page-bg" total-items="totalItems" previous-text="上一页" next-text="下一页" max-size="maxSize" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</div>