<h3>教师列表</h3>
<h4 class="page-header courseTitle">
    以下展示所有教师列表
</h4>
<div class="panel panel-default" ng-controller="teachersListController">
    <div class="ball-spin-fade-loader list-loading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="panel-footer">
      <div class="row">
         <div class="col-lg-4">
            当前校区：<a href="" class="crumbs" name="{{crumbsBranchid}}">{{teacherBranchName ? teacherBranchName : '全部校区'}}</a><i class="fa fa-close removeBranchid"></i>
         </div>
         <div class="col-lg-4"></div>
         <div class="col-lg-4">
             <div class="input-group" style="width: 200px;float:right;">
                <input type="text" placeholder="{{searchResult != undefined && searchResult != 'undefined' && searchResult ? searchResult : '请输入用户名/手机号'}}" class="input-sm form-control" ng-model="sTLValue"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-sm btn-default" ng-click="searchListData()">搜索</button>
                </span>
            </div>
            <!--<div class="input-group pull-right">
               <select class="input-sm form-control">
                  <option value="3">输出到表格</option>
               </select>
               <span class="input-group-btn">
                  <button class="btn btn-sm btn-default">执行</button>
               </span>
            </div>-->
         </div>
      </div>
   </div>
    <div class="table-responsive">
        <table id="table-ext-1" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width:5%;">头像</th>
                    <th style="width:8%;">姓名</th>
                    <th style="width:10%;">电话</th>
                    <th style="width:13%;">邮箱</th>
                    <th style="width:15%;">所属分校</th>
                    <th style="width:18%;">签名</th>
                    <th style="width:13%;">创建时间</th>
                    <th style="width:13%;">最近登录</th>
                    <th style="width:5%;">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td ng-class="TNullType" colspan="9">暂无数据</td>
                </tr>
                <tr ng-repeat="t in teacherData">
                    <td>
                        <div class="media">
                            <img ng-src="{{t.header ? t.header : defaultHeader}}" class="img-responsive img-circle" />
                        </div>
                    </td>
                    <td ng-bind="t.tname"></td>
                    <td ng-bind="t.phone"></a></td>
                    <td ng-bind="t.email"></td>
                    <td ng-bind="t.name"></td>
                    <td title="{{t.summary}}">{{t.summary | limitTo:50}}</td>
                    <td ng-bind="createTime(t)"></td>
                    <td ng-bind="lastLoginTime(t)"></td>
                    <td><a ng-click="asUser(t.userid)">设为家长</a></td>
                </tr>
                <tr>
                    <td class="page-td" colspan="9">
                        <pagination class="pagination-sm" total-items="totalItems" previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页" max-size="maxSize" ng-model="currentPage" ng-change="pageChanged()" boundary-links="true"></pagination>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>